{% extends "base.html" %}


{% block title %}
	<h1>Assistant View</h1>
{% endblock %}


{% block registration %}
	<div class="container">
		
		<div class="row my-2 justify-content-center">
			<div class="col-8 col-lg-4 input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">Name</span>
				</div>
				<input v-if="!registered" v-model="name" type="text" class="form-control" placeholder="Your name" aria-label="name" >
				<span v-else class="form-control">{{ name }}</span>
			</div>
		</div>
		
		<div class="row my-2 justify-content-center">
			<div class="col-8 col-lg-4">
				<button v-if="!registered" class="btn btn-primary" @click="register_on_server">Register on server</button>
				<button v-else-if="status == 'free'" class="btn btn-warning" @click="update_status('busy')">Set status to Busy</button>
				<button v-else class="btn btn-success" @click="update_status('free')">Set Status to Available</button>
			</div>
		</div>
		
	</div>
{% endblock %}


{% block script %}
	<script src="%% url_for('static', filename='js/assistant.js') %%"></script>
{% endblock %}
