{% extends "base.html" %}


{% block title %}
	<h1>Talk live with a teaching assistant</h1>
{% endblock %}


{% block registration %}
    <div class="container">

        <!-- DISCLAIMER BANNER -->
        <div class="row my-2 justify-content-center">

            <div class="col-2">
                <img class="w-100" src="%% url_for('static', filename='assets/logo_idiap.png') %%" alt="logo_idiap">
            </div>

            <div class="col-8 col-lg-6">
                <div class="alert alert-primary" role="alert">
                    This platform is an early prototype developed for the lab sessions of the EPFL course <a href="https://fleuret.org/ee559/" class="alert-link">EE-559</a>,
                    following the decision of the school to move courses online.
                </div>
            </div>

            <div class="col-2">
                <img  class="w-100" src="%% url_for('static', filename='assets/logo_epfl.png') %%" alt="logo_epfl">
            </div>

        </div>

        <!-- NAME -->
        <div class="row my-2 justify-content-center">
            <div class="col-8 col-lg-4 input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Name</span>
                </div>
                <input v-if="!call_requested" v-model="name" type="text" class="form-control" placeholder="Your name" aria-label="name" >
                <span v-else class="form-control">{{ name }}</span>
            </div>
        </div>

        <!-- ORDER IN QUEUE -->
        <div class="row my-2 justify-content-center">
            <div class="col-8 col-lg-4">
                <button v-if="!call_requested" class="btn btn-primary" @click="request_call">Request Call <i class="fas fa-phone ml-2"></i></button>
                <div v-else>
                    Order in the queue : {{ call_requested ? index + 1 : "You did not request a call" }}
                </div>
            </div>
        </div>

    </div>
{% endblock %}


{% block script %}
	<script src="%% url_for('static', filename='js/student.js') %%"></script>
{% endblock %}
